.headerhome{ display: flex; justify-content: space-between; align-items: center; padding: 0 20px; height: 80px; background-color: #fff; box-shadow: 0 2px 4px rgba(0,0,0,0.1);}
.headerleft{ display: flex; align-items: center; }
.headerrigth{ display: flex; align-items: center; }