/* src/components/DocsCom/DocRow.css */

.doc-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.view-button,
.doc-button,
.check-button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
